body {
  margin: 0;
  padding:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #6C63FF, #B7B3FF);
  overflow: hidden;
  height: 100vh;
}
.container {
  box-sizing: border-box;
  height: 100vh;
}
h1 {
  color:white;
  font: 500 24px 'Arial Rounded MT Bold', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding:40px;
  z-index: 0;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  border: none;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  outline: none;
  width: 300px;
  z-index: 0;
}
.buttons {
  background: #FF6584;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1em;
  z-index: 0;
  width:160px;
}
.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bubble {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation-name: rise;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rise {
  from { transform: translateY(100vh); }
  to { transform: translateY(-100vh); }
}
